{% extends 'shop/base2.html' %}
{% load static %}
{% block title %}
    Your Shopping Cart
{% endblock %}


{% block content %}
<br><br><br><br><br><br>



<div class="px-4 px-lg-0">
 
        <div class="pb-5">

    <div class="container">
    <div class="row py-4 p-4 bg-white rounded shadow-sm">
      <div class="card card-plain">
        <div class="card-body">
 {% with totail_items=cart|length %}
    {% if cart|length > 0 %}
                    <!-- My Shopping Order:
                    <a href="{% url "cart:cart_detail" %}" style="color: #2fdab8">
                        {{ totail_items }} item {{ totail_items|pluralize }}, Kshs. {{ cart.get_total_price }}
                    </a> -->
              
          <h4 class="card-title"><strong class="text-muted">My Shopping Cart : {{ totail_items }} item {{ totail_items|pluralize }}, KSH {{ cart.get_total_price }}</strong> </h4>
          <button type="button" class="btn btn-link ">
                <a href="{% url 'shop:product_list' %}"> Continue  Shopping <i class="material-icons">keyboard_arrow_right</i>  </a> 
            </button>
          {% else %}
          <h4 class="card-title" >Your cart is empty</h4>
          <button type="button" class="btn btn-link ">
            <a href="{% url 'shop:product_list' %}">Shop Now <i class="material-icons">keyboard_arrow_right</i>  </a> 
        </button>
      {% endif %}
  {% endwith %}
          <br/>
          <div class="table-responsive">
            <table class="table table-shopping">
              <thead>
                <tr>  
                        <th>Image</th>
                        <th>Product</th>
                        <th class="th-description">Color</th>
                        <th class="th-description">Size</th>
                        <th class="text-right">Unit Price</th>
                        <th class="text-center">Quantity</th>
                        <th class="text-right">Amount</th>
                    
                </tr>
              </thead>
              <tbody>
                    {% for item in cart %}
                    {% with product=item.product  %}
                <tr>
                  <td>
                    <div class="img-container">
                            <div class="card-header card-header-image">
                            <a href="{{ product.get_absolute_url }}">
                                    <img class="img" src="{% if product.image %} {{ product.image.cdn_url }} {% else %} {% static 'img/default.jpg' %} {% endif %}" alt="..." style="height: 130px; width: auto">
                                </a>
                    </div>
                </div>
                  </td>
                  <td class="td-name">
                    <a href="{{ product.get_absolute_url }}">{{ product.name }}</a>
                    <br />
                    <!-- <small>by Dolce&Gabbana</small> -->
                  </td>
                  <td>
                    Red
                  </td>
                  <td>
                    M
                  </td>
                  <td class="td-number text-right">
                    <small>KSH</small> <strong class="text-muted">{{ item.price }}</strong>
                  </td>
                  <td class="td-name">
             
                    <div class="btn-group btn-group-sm">
                            <form action="{% url "cart:cart_add" product.id %}" method="post">
                                    {% csrf_token %}
                                    {{ item.update_quantity_form.quantity }}
                                      {{ item.update_quantity_form.update }}
                                    <input type="submit" value="Update item" class="btn btn-info btn-round" >
                                </form>
                      <!-- <button class="btn btn-round btn-info"> <i class="material-icons">remove</i> </button>
                      <button class="btn btn-round btn-info"> <i class="material-icons">add</i> </button> -->
                    </div>
                  </td>
                  <td class="td-number">
                    <small>KSH</small> <strong class="text-muted">{{ item.total_price }}</strong> 
                  </td>
                  <td class="td-actions">
                    <button type="button" rel="tooltip" data-placement="left" title="Remove item" class="btn btn-link">
<a href="{% url "cart:cart_remove" product.id %}">Remove Item  <i class="material-icons">close</i>  </a>  
                    </button>
                  </td>
                </tr>
                {% endwith %}
                {% endfor %}
                <tr>
                  <td colspan="1"></td>
                  <td class="td-total">
                  
                  </td>
                  <td colspan="3" class="td-price">
                        <h4 class="card-title" >  <strong class="text-muted">Total KSH {{ cart.get_total_price }} </strong>  </h4>
                          
                  </td>
                  <td colspan="1"></td>
                  <td colspan="2" class="text-right">
                        <a href="{% url "orders:order_create" %}" class="btn btn-info btn-round" >Complete Order <i class="material-icons">keyboard_arrow_right</i></a>
                 
                  </td>
        
                </tr>
                <!-- <tr>
                <td colspan="6"></td>
                <td colspan="2" class="text-right">
                  <button type="button" class="btn btn-info btn-round">Complete Purchase <i class="material-icons">keyboard_arrow_right</i></button>
                </td>
              </tr> -->
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>




  <div class="px-4 px-lg-0">
 
        <div class="pb-5">
          <div class="container">
            <div class="row">
              <div class="col-lg-12 p-5 bg-white rounded shadow-sm mb-5">
                    <div class="copyright text-center">
                            Copyright &#xA9;
                            <script>
                              document.write(new Date().getFullYear())
                            </script> Curio effect powered by    <a href="http://www.brainlabs.co.ke" target="_blank">Brain labs Kenya</a> 
                          </div>
              </div>
            </div>
          </div>
        </div>
      </div>





 

{% endblock %}
