{% extends 'shop/base2.html' %}
{% load static %}



{% block content %}
<body class="about-us sidebar-collapse">


	<!-- <div class="page-header header-filter header-small" data-parallax="true" style="background-image: url('../assets/img/bg9.jpg');">
	  <div class="container">
		<div class="row">
		  <div class="col-md-8 ml-auto mr-auto text-center">
			<h1 class="title">About Us</h1>
			<h4>Meet the amazing team behind this project and find out more about how we work.</h4>
		  </div>
		</div>
	  </div>
	</div> -->
	<div class="" style="margin-top: 50px">
	  <div class="container">
	
		<div class="about-team team-1">
		  <div class="row">
			<div class="col-md-8 ml-auto mr-auto text-center">
				<h2 class="title">About Us</h2>
				<h4>Meet the amazing team behind this project and find out more about how we work.</h4>
			</div>
			</div>
			<div class="about-description text-center">
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto">
            <h5 class="description"><strong>Curio Effect </strong> is an African Online store, that provides an opportunity for our local artisans, fashion project owners and designers to showcase and sell their unique african designs ranging from furniture (home decor, office decor), Aparel, jewellery and so on. Offering customers Africa's diverse Fashion taste under one roof.</h5>
          </div>
        </div>
			</div>
			
		
				<div class="col-md-8 ml-auto mr-auto text-center">
					<h2 class="title">We bring you hand Picked awsome products</h2>
					<h5 class="description">We welcome multiple merchants to add their unique line of products (Picked by our design team) to our repository, which then get displayed on our site, providing a single store where there is a union of African Fashion Products.</h5>
				</div>
				<div class="row">
				<div class="col-md-4">
					<div class="info info-horizontal">
					<!-- <div class="icon icon-rose">
						<i class="material-icons">gesture</i>
					</div> -->
					<div class="description">
						<h4 class="info-title">Authentic Design</h4>
						<p>The moment you use Material Kit, you know you&#x2019;ve never felt anything like it. With a single use, this powerfull UI Kit lets you do more than ever before. </p>

					</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="info info-horizontal">
					<!-- <div class="icon icon-rose">
						<i class="material-icons">build</i>
					</div> -->
					<div class="description">
						<h4 class="info-title">Unique Products</h4>
						<p>Divide details about your product or agency work into parts. Write a few lines about each one. A paragraph describing a feature will be enough.</p>

					</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="info info-horizontal">
					<!-- <div class="icon icon-rose">
						<i class="material-icons">mode_edit</i>
					</div> -->
					<div class="description">
						<h4 class="info-title">Guarantee to last</h4>
						<p>Divide details about your product or agency work into parts. Write a few lines about each one. A paragraph describing a feature will be enough.</p>

					</div>
					</div>
				</div>
				</div>
		



















		  <div class="row">
			<div class="col-md-3">
			  <div class="card card-profile card-plain">
				<div class="card-avatar">
				  <a href="#pablo">
					<img class="img" src="../assets/img/faces/marc.jpg">
				  </a>
				</div>
				<div class="card-body">
				  <h4 class="card-title">Renny Pascal</h4>
				  <h6 class="category text-muted">Founder</h6>
				  <p class="card-description">
					And I love you like Kanye loves Kanye. We need to restart the human foundation.
				  </p>
				</div>
			  </div>
			</div>
			<div class="col-md-3">
			  <div class="card card-profile card-plain">
				<div class="card-avatar">
				  <a href="#pablo">
					<img class="img" src="../assets/img/faces/kendall.jpg">
				  </a>
				</div>
				<div class="card-body">
				  <h4 class="card-title">Lucy Saulinah</h4>
				  <h6 class="category text-muted">Design Team Lead</h6>
				  <p class="card-description">
					Don't be scared of the truth because we need to restart the human foundation. And I love you like Kanye loves Kanye.
				  </p>
				</div>
			  </div>
			</div>
			<div class="col-md-3">
			  <div class="card card-profile card-plain">
				<div class="card-avatar">
				  <a href="#pablo">
					<img class="img" src="../assets/img/faces/christian.jpg">
				  </a>
				</div>
				<div class="card-body">
				  <h4 class="card-title">Enock Omondi</h4>
				  <h6 class="category text-muted">Software Engineer</h6>
				  <p class="card-description">
					I love you like Kanye loves Kanye. Don't be scared of the truth because we need to restart the human foundation.
				  </p>
				</div>
			  </div>
			</div>
			<div class="col-md-3">
			  <div class="card card-profile card-plain">
				<div class="card-avatar">
				  <a href="#pablo">
					<img class="img" src="../assets/img/faces/avatar.jpg">
				  </a>
				</div>
				<div class="card-body">
				  <h4 class="card-title">Davina Ato</h4>
				  <h6 class="category text-muted">Sales Lead</h6>
				  <p class="card-description">
					Don't be scared of the truth because we need to restart the human foundation.
				  </p>
				</div>
			  </div>
			</div>
		  </div>
		</div>

	
		<div class="about-contact">
		  <div class="row">
			<div class="col-md-8 ml-auto mr-auto">
			  <h2 class="text-center title">Want to work with us?</h2>
			  <h5 class="text-center description">Contact us about any further collaboration. We will get back to you in a couple of hours.</h5>
			  <form class="contact-form">
				<div class="row">
				  <div class="col-md-4">
					<div class="form-group">
					  <label for="name" class="bmd-label-floating">Your name</label>
					  <input type="text" class="form-control">
					</div>
				  </div>
				  <div class="col-md-4">
					<div class="form-group">
					  <label for="email" class="bmd-label-floating">Your Email</label>
					  <input type="email" class="form-control">
					</div>
				  </div>
				  <div class="col-md-4">
					<select class="selectpicker " data-style="select-with-transition" data-size="7">
					  <option value="1" disabled>Speciality</option>>
					  <option value="2">I&apos;m a Designer</option>
					  <option value="3">I&apos;m an Engineer</option>
					  <!-- <option value="4">I&apos;m a </option> -->
					</select>
				  </div>
				</div>
				<div class="row">
				  <div class="col-md-4 ml-auto mr-auto text-center">
					<button class="btn btn-primary btn-round">
					  Let&apos;s talk
					</button>
				  </div>
				</div>
			  </form>
			</div>
		  </div>
		</div>
	  </div>
	</div>
	<footer class="footer">
	  <div class="container">
		<!-- <nav class="float-left">
		  <ul>
			<li>
			  <a href="https://www.creative-tim.com/">
				Creative Tim
			  </a>
			</li>
			<li>
			  <a href="https://creative-tim.com/presentation">
				About Us
			  </a>
			</li>
			<li>
			  <a href="http://blog.creative-tim.com/">
				Blog
			  </a>
			</li>
			<li>
			  <a href="https://www.creative-tim.com/license">
				Licenses
			  </a>
			</li>
		  </ul>
		</nav> -->
		<div class="copyright pull-center">
			Copyright &#xA9;
			<script>
				document.write(new Date().getFullYear())
			</script> Curio effect powered by    <a href="http://www.brainlabs.co.ke" target="_blank">Brain labs Kenya</a> 
			</div>
	  </div>
	</footer>
  
  
  
  


  

  </body>
  
{% endblock %}
