<body>
    
    <!-- Preloader Start -->
    <div id="preloader">
        <div class="preloader--inner"></div>
    </div>
    <!-- Preloader End -->


            <!-- Header Navbar Start -->
            <div class="header--navbar navbar bg-black" data-trigger="sticky">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle style--1 collapsed" data-toggle="collapse" data-target="#headerNav">
                            <span class="sr-only">Toggle Navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>

                        <!-- Header Navbar Logo Start -->
                        <div class="header--navbar-logo navbar-brand">
                            <a href="index.html">
                                <img src="img/GUMZOLOGO.png" class="normal" alt="">
                                <img src="img/GUMZOLOGO.png" class="sticky" alt="">
                            </a>
                        </div>
                        <!-- Header Navbar Logo End -->
                    </div>

                    <div id="headerNav" class="navbar-collapse collapse float--right">
                        <!-- Header Nav Links Start -->
                        <ul class="header--nav-links style--1 nav ff--primary">
                            <li class="dropdown active">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <span>Home</span>
                                    <i class="fa fa-caret-down"></i>
                                </a>

                                <ul class="dropdown-menu">
                                    <li class="active"><a href="index.html"><span>Welcome</span></a></li>
                                  
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <span>Community</span>
                                    <i class="fa fa-caret-down"></i>
                                </a>

                                <ul class="dropdown-menu">
                                    <li><a href="activity.html"><span>Activity</span></a></li>
                                    <li><a href="members.html"><span>Members</span></a></li>
                                    <li><a href="groups.html"><span>Groups</span></a></li>
                                </ul>
                            </li>
                            
                            <li class="dropdown megamenu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <span>Explore</span>
                                    <i class="fa fa-caret-down"></i>
                                </a>

                                <div class="dropdown-menu">
                                    <div class="row">
                                        <ul class="col-md-2">
                                            <li><a href="members.html">Members</a></li>
                                            <li><a href="groups.html">Groups</a></li>
                                            <li><a href="activity.html">Site Wide Activity</a></li>
                                            
                                        </ul>

                                   
                                        
                                        <ul class="col-md-2">
                                           
                                            <li><a href="topics.html">Topics</a></li>
                                            
                                        </ul>
                                        
                                        <ul class="col-md-2">
                                            <li><a href="404.html">Products</a></li> <!-- Products.html-->
                                            <!-- <li><a href="product-details.html">Product Details</a></li>
                                            <li><a href="cart.html">Cart</a></li>
                                            <li><a href="checkout.html">Checkout</a></li>
                                            <li><a href="#">Dummy</a></li> -->
                                        </ul>
                                        
                                        <ul class="col-md-2">
                                            <li><a href="404.html">Blog</a></li >  <!--blog-sidebar-right.html-->
                                            <!-- <li><a href="blog-sidebar-left.html">Blog Sidebar Left</a></li>
                                            <li><a href="blog-details.html">Blog Details</a></li>
                                            <li><a href="#">Dummy</a></li>
                                            <li><a href="#">Dummy</a></li> -->
                                        </ul>
                                        
                                        <ul class="col-md-2">
                                            <li><a href="404.html">About</a></li> <!--about.html-->
                                            <li><a href="404.html">FAQ</a></li>     <!--faq.html-->
                                            <li><a href="404.html">Contact</a></li>  <!--contact.html-->
                                            <!-- <li><a href="coming-soon.html">Coming Soon</a></li>
                                            <li><a href="404.html">404</a></li> -->
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <span>Products</span>
                                    <i class="fa fa-caret-down"></i>
                                </a>

                                <ul class="dropdown-menu">
                                    <li><a href="404.html">Products</a></li> <!--products.htm-->
                                    <!-- <li><a href="product-details.html">Product Details</a></li> 
                                    <li><a href="cart.html">Cart</a></li> 
                                    <li><a href="checkout.html">Checkout</a></li>  -->
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <span>Blog</span>
                                    <i class="fa fa-caret-down"></i>
                                </a>

                                <ul class="dropdown-menu">
                                    <li><a href="404.html">Blog </a></li> <!--blog-sidebar-right.html-->
                                  
                                </ul>
                            </li>
                            <li><a href="404.html"><span>Contact</span></a></li> <!--contact.html-->
                        </ul>
                        <!-- Header Nav Links End -->
                    </div>
                </div>
            </div>
            <!-- Header Navbar End -->
        </header>
        <!-- Header Section End -->

    <!-- Page Header Start -->
    <div class="page--header pt--60 pb--60 text-center" data-bg-img="img/page-header-img/bg.jpg" data-overlay="0.85">
        <div class="container">
            <div class="title">
                <h2 class="h1 text-white">Activity</h2>
            </div>

            <ul class="breadcrumb text-gray ff--primary">
                <li><a href="index.html" class="btn-link">Home</a></li>
                <li class="active"><span class="text-primary">Members Activities and posts</span></li>
            </ul>
        </div>
    </div>
    <!-- Page Header End -->

    <!-- Page Wrapper Start -->
    <section class="page--wrapper pt--80 pb--20">
        <div class="container">
            <div class="row">
                <!-- Main Content Start -->
                <div class="main--content col-md-8 pb--60" data-trigger="stickyScroll">
                    <div class="main--content-inner drop--shadow">
                        <!-- Filter Nav Start -->
                        <div class="filter--nav pb--60 clearfix">
                            <div class="filter--link float--left">
                                <h2 class="h4"><a href="members.html" class="btn-link">All Members : 30,000</a></h2>
                            </div>

                            <div class="filter--options float--right">
                                <label>
                                    <span class="fs--14 ff--primary fw--500 text-darker">Show By :</span>

                                    <select name="activityfilter" class="form-control form-sm" data-trigger="selectmenu">
                                        <option value="everything" selected>— Everything —</option>
                                        <option value="new-members">New Members</option>
                                        <option value="profile-updates">Profile Updates</option>
                                        <option value="updates">Updates</option>
                                        <option value="new-groups">New Groups</option>
                                        <option value="group-updates">Group Updates</option>
                                        <option value="topics">Topics</option>
                                        <option value="replies">Replies</option>
                                    </select>
                                </label>
                            </div>
                        </div>
                        <!-- Filter Nav End -->

                        <!-- Activity List Start -->
                        <div class="activity--list">
                            <!-- Activity Items Start -->
                            <ul class="activity--items nav">
                                <li>
                                    <!-- Activity Item Start -->
                                    <div class="activity--item">
                                        <div class="activity--avatar">
                                            <a href="member-activity-personal.html">
                                                <img src="img/activity-img/profile-pic-01.jpeg" alt="">
                                            </a>
                                        </div>

                                        <div class="activity--info fs--14">
                                            <div class="activity--header">
                                                <p><a href="member-activity-personal.html">Enock omondi</a> updated his profile picture</p>
                                            </div>

                                            <div class="activity--meta fs--12">
                                                <p><i class="fa mr--8 fa-clock-o"></i>Yeasterday at 08:20 am</p>
                                            </div>

                                            <div class="activity--content">
                                                <div class="img--embed">
                                                    <img src="img/activity-img/profile-pic-01.jpeg" alt="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Activity Item End -->
                                </li>
                                <li>
                                    <!-- Activity Item Start -->
                                    <div class="activity--item">
                                        <div class="activity--avatar">
                                            <a href="member-activity-personal.html">
                                                <img src="img/activity-img/profile-pic-01.jpeg" alt="">
                                            </a>
                                        </div>

                                        <div class="activity--info fs--14">
                                            <div class="activity--header">
                                                <p><a href="member-activity-personal.html">Enock omondi</a> posted an update in the group <a href="group-home.html">Travel Guides</a></p>
                                            </div>

                                            <div class="activity--meta fs--12">
                                                <p><i class="fa mr--8 fa-clock-o"></i>Yeasterday at 08:20 am</p>
                                            </div>

                                            <div class="activity--content">
                                                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration  If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything.</p>
                                            </div>

                                            <div class="activity--action fw--700">
                                                <a href="#">See More...</a>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Activity Item End -->
                                </li>
                                <li>
                                    <!-- Activity Item Start -->
                                    <div class="activity--item">
                                        <div class="activity--avatar">
                                            <a href="member-activity-personal.html">
                                                <img src="img/activity-img/profile-pic-01.jpeg" alt="">
                                            </a>
                                        </div>

                                        <div class="activity--info fs--14">
                                            <div class="activity--header">
                                                <p><a href="member-activity-personal.html">enock omondi</a> posted an update in the group <a href="group-home.html">Pet Care</a></p>
                                            </div>

                                            <div class="activity--meta fs--12">
                                                <p><i class="fa mr--8 fa-clock-o"></i>Yeasterday at 08:20 am</p>
                                            </div>

                                            <div class="activity--content">
                                                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration  If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything.</p>
                                            </div>

                                            <div class="activity--comments fs--12">
                                                <ul class="acomment--items nav">
                                                    <li>
                                                        <div class="acomment--item clearfix">
                                                            <div class="acomment--avatar">
                                                                <a href="member-activity-personal.html">
                                                                    <img src="img/activity-img/profile-pic-01.jpeg" alt="">
                                                                </a>
                                                            </div>

                                                            <div class="acomment--info">
                                                                <div class="acomment--header">
                                                                    <p><a href="#">beryl Achieng</a> Replied</p>
                                                                </div>

                                                                <div class="acomment--meta">
                                                                    <p><i class="fa mr--8 fa-clock-o"></i>Yeasterday at 08:20 am</p>
                                                                </div>

                                                                <div class="acomment--content">
                                                                    <p>I also like Pets..... <span style="color: #ec407a;">&hearts; &hearts; &hearts;</span></p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Activity Item End -->
                                </li>
                                <li>
                                    <!-- Activity Item Start -->
                                    <div class="activity--item">
                                        <div class="activity--avatar">
                                            <a href="member-activity-personal.html">
                                                <img src="img/activity-img/profile-pic-01.jpeg" alt="">
                                            </a>
                                        </div>

                                        <div class="activity--info fs--14">
                                            <div class="activity--header">
                                                <p><a href="member-activity-personal.html">enock omondi</a> Shared a link</p>
                                            </div>

                                            <div class="activity--meta fs--12">
                                                <p><i class="fa mr--8 fa-clock-o"></i>Yeasterday at 08:20 am</p>
                                            </div>

                                            <div class="activity--content">
                                                <div class="link--embed">
                                                    <a class="link--url" href="https://www.youtube.m/watch?v=YE7VzlLtp-4" data-trigger="video_popup"></a>

                                                    <div class="link--video">
                                                        <img src="img/activity-img/link-video-poster.jpg" alt="">
                                                    </div>

                                                    <div class="link--info fs--12">
                                                        <div class="link--title">
                                                            <h4 class="h6">There are many variations of passages of Lorem Ipsum available, but the majority have suffered</h4>
                                                        </div>

                                                        <div class="link--desc">
                                                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing</p>
                                                        </div>

                                                        <div class="link--rel ff--primary text-uppercase">
                                                            <p>www.unknownneonnettle.com</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Activity Item End -->
                                </li>
                                <li>
                                    <!-- Activity Item Start -->
                                    <div class="activity--item">
                                        <div class="activity--avatar">
                                            <a href="member-activity-personal.html">
                                                <img src="img/activity-img/profile-pic-01.jpeg" alt="">
                                            </a>
                                        </div>

                                        <div class="activity--info fs--14">
                                            <div class="activity--header">
                                                <p><a href="member-activity-personal.html">enock omondi</a> posted an update</p>
                                            </div>

                                            <div class="activity--meta fs--12">
                                                <p><i class="fa mr--8 fa-clock-o"></i>Yeasterday at 08:20 am</p>
                                            </div>

                                            <div class="activity--content">
                                                <p>Hello friends!</p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Activity Item End -->
                                </li>
                                <li>
                                    <!-- Activity Item Start -->
                                    <div class="activity--item">
                                        <div class="activity--avatar">
                                            <a href="member-activity-personal.html">
                                                <img src="img/activity-img/profile-pic-01.jpeg" alt="">
                                            </a>
                                        </div>

                                        <div class="activity--info fs--14">
                                            <div class="activity--header">
                                                <p><a href="member-activity-personal.html">enock omondi</a> posted an update in the group <a href="group-home.html">Lens-bians Photography</a></p>
                                            </div>

                                            <div class="activity--meta fs--12">
                                                <p><i class="fa mr--8 fa-clock-o"></i>Yeasterday at 08:20 am</p>
                                            </div>

                                            <div class="activity--content">
                                               
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Activity Item End -->
                                </li>
                                <li>
                                    <!-- Activity Item Start -->
                                    <div class="activity--item">
                                        <div class="activity--avatar">
                                            <a href="member-activity-personal.html">
                                                <img src="img/activity-img/profile-pic-01.jpeg" alt="">
                                            </a>
                                        </div>

                                        <div class="activity--info fs--14">
                                            <div class="activity--header">
                                                <p><a href="member-activity-personal.html">enock omondi</a> posted an update with his friend <a href="member-activity-personal.html">beryl Achieng</a></p>
                                            </div>

                                            <div class="activity--meta fs--12">
                                                <p><i class="fa mr--8 fa-clock-o"></i>Yeasterday at 08:20 am</p>
                                            </div>

                                            <div class="activity--content">
                                                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Activity Item End -->
                                </li>
                                <li>
                                    <!-- Activity Item Start -->
                                    <div class="activity--item">
                                        <div class="activity--avatar">
                                            <a href="member-activity-personal.html">
                                                <img src="img/activity-img/profile-pic-01.jpeg" alt="">
                                            </a>
                                        </div>

                                        <div class="activity--info fs--14">
                                            <div class="activity--header">
                                                <p><a href="member-activity-personal.html">enock omondi</a> feeling happy with <a href="member-activity-personal.html">beryl Achieng</a> and <a href="#">5 more others</a></p>
                                            </div>

                                            <div class="activity--meta fs--12">
                                                <p><i class="fa mr--8 fa-clock-o"></i>Yeasterday at 08:20 am</p>
                                            </div>

                                            <div class="activity--content">
                                                <p>I was as big as I have ever been. I had a personal trainer and was working out. I was feeling good. I was muscular. I had never weighed more than 155 pounds.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Activity Item End -->
                                </li>
                            </ul>
                            <!-- Activity Items End -->
                        </div>
                        <!-- Activity List End -->
                    </div>

                    <!-- Load More Button Start -->
                    <div class="load-more--btn pt--30 text-center">
                        <a href="#" class="btn btn-animate">
                            <span>See More Activities<i class="fa ml--10 fa-caret-right"></i></span>
                        </a>
                    </div>
                    <!-- Load More Button End -->
                </div>
                <!-- Main Content End -->

                <!-- Main Sidebar Start -->
                
     <!-- Main Content End -->

                <!-- Main Sidebar Start -->
                <div class="main--sidebar col-md-4 pb--60" data-trigger="stickyScroll">
                        <!-- Widget Start -->
                    

                        <!-- Widget End -->

                        <!-- Widget Start -->
                        <div class="widget">
                            <h2 class="h4 fw--700 widget--title">Advertisements</h2>

                            <!-- Ad Widget Start -->
                            <div class="ad--widget">
                                <a href="#">
                                    <img src="img/widgets-img/ad.jpg" alt="" class="center-block">
                                </a>
                            </div>
                            <!-- Ad Widget End -->
                        </div>
                        <!-- Widget End -->
                    </div>
                    <!-- Main Sidebar End -->
                </div>
            </div>
        </section>
        <!-- Page Wrapper End -->
    <!-- Page Wrapper End -->

  <!-- Footer Section Start -->
  <footer class="footer--section">
        <!-- Footer Widgets Start -->
        <div class="footer--widgets pt--70 pb--20 bg-lightdark" data-bg-img="img/footer-img/footer-widgets-bg.png">
            <div class="container">
                <div class="row AdjustRow">
                    <div class="col-md-3 col-xs-6 col-xxs-12 pb--60">
                        <!-- Widget Start -->
                        <div class="widget">
                            <h2 class="h4 fw--700 widget--title">About Us</h2>

                            <!-- Text Widget Start -->
                            <div class="text--widget">
                                <p>Ipsum is simply dummy text of the printing indusLorem Ipsum is simply dummy text of the printing and typesetting industry.</p>

                                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                            </div>
                            <!-- Text Widget End -->
                        </div>
                        <!-- Widget End -->

                                     <!-- Widget Start -->
                                     <div class="widget">
                                            <h2 class="h4 fw--700 widget--title">Subscribe To Our Newsletter</h2>
            
                                            <!-- Newsletter Widget Start -->
                                            <div class="newsletter--widget style--1" data-form="validate">
                                                <form action="https://themelooks.us13.list-manage.com/subscribe/post?u=79f0b132ec25ee223bb41835f&amp;id=f4e0e93d1d" method="post" name="mc-embedded-subscribe-form" target="_blank">
                                                    <div class="input-group">
                                                        <input type="email" name="EMAIL" placeholder="Enter your emil address" class="form-control" autocomplete="off" required>
            
                                                        <div class="input-group-btn">
                                                            <button type="submit" class="btn-link"><i class="fa fa-send-o"></i></button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                            <!-- Newsletter Widget End -->
                                        </div>
                                        <!-- Widget End -->
                                    </div>
            
                                    <div class="col-md-3 col-xs-6 col-xxs-12 pb--60">
                                        <!-- Widget Start -->
                                        <div class="widget">
                                            <h2 class="h4 fw--700 widget--title">Recent Post</h2>
            
                                            <!-- Recent Posts Widget Start -->
                                            <div class="recent-posts--widget">
                                                <ul class="nav">
                                                    <li>
                                                        <p class="date fw--300">
                                                            <a href="#"><i class="fa mr--8 fa-file-text-o"></i>19 Jan 2019</a>
                                                        </p>
                                                        <p class="title fw--700">
                                                            <a href="blog-details.html">looking for  poultry frmers group to join</a>
                                                        </p>
                                                    </li>
                                                    <li>
                                                        <p class="date fw--300">
                                                            <a href="#"><i class="fa mr--8 fa-file-text-o"></i>19 Jan 2019</a>
                                                        </p>
                                                        <p class="title fw--700">
                                                            <a href="blog-details.html">what are the most effective marketing ideas</a>
                                                        </p>
                                                    </li>
                                                    <li>
                                                        <p class="date fw--300">
                                                            <a href="#"><i class="fa mr--8 fa-file-text-o"></i>19 Jan 2017</a>
                                                        </p>
                                                        <p class="title fw--700">
                                                            <a href="blog-details.html">2019 waiting for the goverments budget</a>
                                                        </p>
                                                    </li>
                                                </ul>
                                            </div>
                                            <!-- Recent Posts Widget End -->
                                        </div>
                                        <!-- Widget End -->
            
                                        <!-- Widget Start -->
                                        <div class="widget">
                                            <h2 class="h4 fw--700 widget--title">Tags</h2>
            
                                            <!-- Tags Widget Start -->
                                            <div class="tags--widget">
                                                <ul class="nav">
                                                    <li><a href="#">Farming</a></li>
                                                    <li><a href="#">Politics</a></li>
                                                    <li><a href="#">Music</a></li>
                                                    <li><a href="#">Technology</a></li>
                                                    <li><a href="#">kenya</a></li>
                                                    <li><a href="#">Photography</a></li>
                                                    <li><a href="#">Gumzoclub</a></li>
                                                </ul>
                                            </div>
                                            <!-- Tags Widget End -->
                                        </div>
                                        <!-- Widget End -->
                                    </div>
            
                                    <div class="col-md-3 col-xs-6 col-xxs-12 pb--60">
                                        <!-- Widget Start -->
                                        <div class="widget">
                                            <h2 class="h4 fw--700 widget--title">Some of Catagories</h2>
            
                                            <!-- Nav Widget Start -->
                                            <div class="nav--widget">
                                                <ul class="nav">
                                                    <li>
                                                        <a href="#">
                                                            <i class="fa fa-folder-o"></i>
                                                            <span class="text">Farming</span>
                                                            <span class="count">(26)</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <i class="fa fa-folder-o"></i>
                                                            <span class="text">volunteer work</span>
                                                            <span class="count">(06)</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <i class="fa fa-folder-o"></i>
                                                            <span class="text">Services</span>
                                                            <span class="count">(34)</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <!-- Nav Widget End -->
                                        </div>
                                        <!-- Widget End -->
            
                                        <!-- Widget Start -->
                                        <div class="widget">
                                            <h2 class="h4 fw--700 widget--title">From Archives</h2>
            
                                            <!-- Nav Widget Start -->
                                            <div class="nav--widget">
                                                <ul class="nav">
                                                    <li>
                                                        <a href="#">
                                                            <i class="fa fa-calendar-o"></i>
                                                            <span class="text">Jan - July 2017</span>
                                                            <span class="count">(86)</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <i class="fa fa-calendar-o"></i>
                                                            <span class="text">Jan - Dce 2016</span>
                                                            <span class="count">(328)</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <i class="fa fa-calendar-o"></i>
                                                            <span class="text">Jan - Dec 2015</span>
                                                            <span class="count">(427)</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <!-- Nav Widget End -->
                                        </div>
                                        <!-- Widget End -->
                                    </div>
            
                                    <div class="col-md-3 col-xs-6 col-xxs-12 pb--60">
                                        <!-- Widget Start -->
                                        <div class="widget">
                                            <h2 class="h4 fw--700 widget--title">Forums</h2>
            
                                            <!-- Links Widget Start -->
                                            <div class="links--widget">
                                                <ul class="nav">
                                                    <li><a href="sub-forums.html">Best farming practices in Nairobi</a></li>
                                                    <li><a href="sub-forums.html">Poultry farmers</a></li>
                                                    <li><a href="sub-forums.html">Communities to join</a></li>
                                                    <li><a href="sub-forums.html">Social Media Marketing</a></li>
                                                    <li><a href="sub-forums.html">Product Marketing</a></li>
                                                </ul>
                                            </div>
                                            <!-- Links Widget End -->
                                        </div>
                                        <!-- Widget End -->
            
                                        <!-- Widget Start -->
                                        <div class="widget">
                                            <h2 class="h4 fw--700 widget--title">Useful Links</h2>
            
                                            <!-- Links Widget Start -->
                                            <div class="links--widget">
                                                <ul class="nav">
                                                    <li><a href="#">Register</a></li>
                                                    <li><a href="#">Gumzo club</a></li>
                                                    <li><a href="#">Membership </a></li>
                                                    <li><a href="#">Shop</a></li>
                                                    <li><a href="#">Contact members</a></li>
                                                </ul>
                                            </div>
                                            <!-- Links Widget End -->
                                        </div>
                                        <!-- Widget End -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Footer Widgets End -->
       <!-- Footer Extra Start -->
       <div class="footer--extra bg-darker pt--30 pb--40 text-center">
            <div class="container">
                <!-- Widget Start -->
                <div class="widget">
                    <h2 class="h4 fw--700 widget--title">Recent Active Members</h2>

                    <!-- Recent Active Members Widget Start -->
                    <div class="recent-active-members--widget style--2">
                        <div class="owl-carousel" data-owl-items="12" data-owl-nav="true" data-owl-speed="1200" data-owl-responsive='{"0": {"items": "3"}, "481": {"items": "6"}, "768": {"items": "8"}, "992": {"items": "12"}}'>
                            <div class="img">
                                <a href="member-activity-personal.html"><img src="img/widgets-img/recent-active-members/sean.jpeg" alt=""></a>
                            </div>
                            <br>
                            <div class="img">
                                <a href="member-activity-personal.html"><img src="img/widgets-img/recent-active-members/sean.jpeg" alt=""></a>
                            </div>
                            <br>
                            <div class="img">
                                <a href="member-activity-personal.html"><img src="img/widgets-img/recent-active-members/sean.jpeg" alt=""></a>
                            </div>
                            <br>
                            <div class="img">
                                <a href="member-activity-personal.html"><img src="img/widgets-img/recent-active-members/sean.jpeg" alt=""></a>
                            </div>
                            <br>
                            <div class="img">
                                <a href="member-activity-personal.html"><img src="img/widgets-img/recent-active-members/sean.jpeg" alt=""></a>
                            </div>
                            <br>
                            <div class="img">
                                <a href="member-activity-personal.html"><img src="img/widgets-img/recent-active-members/sean.jpeg" alt=""></a>
                            </div>
                            <br>
                            <div class="img">
                                <a href="member-activity-personal.html"><img src="img/widgets-img/recent-active-members/sean.jpeg" alt=""></a>
                            </div>
                            <br>
                            <div class="img">
                                <a href="member-activity-personal.html"><img src="img/widgets-img/recent-active-members/sean.jpeg" alt=""></a>
                            </div>
                            <br>
                            <div class="img">
                                <a href="member-activity-personal.html"><img src="img/widgets-img/recent-active-members/sean.jpeg" alt=""></a>
                            </div>
                            <br>
                            <div class="img">
                                <a href="member-activity-personal.html"><img src="img/widgets-img/recent-active-members/sean.jpeg" alt=""></a>
                            </div>
                            <br>
                            <div class="img">
                                <a href="member-activity-personal.html"><img src="img/widgets-img/recent-active-members/sean.jpeg" alt=""></a>
                            </div>
                            <br>
                            <div class="img">
                                <a href="member-activity-personal.html"><img src="img/widgets-img/recent-active-members/sean.jpeg" alt=""></a>
                            </div>
<br>
                            <div class="img">
                                <a href="member-activity-personal.html"><img src="img/widgets-img/recent-active-members/sean.jpeg" alt=""></a>
                            </div>
                        </div>
                    </div>
                    <!-- Recent Active Members Widget End -->
                </div>
                <!-- Widget End -->
            </div>
        </div>
        <!-- Footer Extra End -->
<!-- Footer Copyright Start -->
<div class="footer--copyright pt--30 pb--30 bg-darkest">
        <div class="container">
            <div class="text fw--500 fs--14 text-center">
                <p>Copyright &copy; Gumzo<span>club</span>. All Rights Reserved.</p>
            </div>
        </div>
    </div>
    <!-- Footer Copyright End -->
</footer>
<!-- Footer Section End -->
</div>
<!-- Wrapper End -->


<!-- Back To Top Button Start -->
<div id="backToTop">
    <a href="#" class="btn"><i class="fa fa-caret-up"></i></a>
</div>
<!-- Back To Top Button End -->

<!-- ==== Plugins Bundle ==== -->
<script src="js/plugins.min.js"></script>

<!-- ==== Color Switcher Plugin ==== -->
<script src="js/color-switcher.min.js"></script>

<!-- ==== Main Script ==== -->
<script src="js/main.js"></script>

</body>


</html>