{% extends 'shop/base2.html' %}
{% load static %}



{% block content %}
<!-- Start of Async Drift Code -->
<script>
	"use strict";
	
	!function() {
	  var t = window.driftt = window.drift = window.driftt || [];
	  if (!t.init) {
		if (t.invoked) return void (window.console && console.error && console.error("Drift snippet included twice."));
		t.invoked = !0, t.methods = [ "identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on" ], 
		t.factory = function(e) {
		  return function() {
			var n = Array.prototype.slice.call(arguments);
			return n.unshift(e), t.push(n), t;
		  };
		}, t.methods.forEach(function(e) {
		  t[e] = t.factory(e);
		}), t.load = function(t) {
		  var e = 3e5, n = Math.ceil(new Date() / e) * e, o = document.createElement("script");
		  o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + n + "/" + t + ".js";
		  var i = document.getElementsByTagName("script")[0];
		  i.parentNode.insertBefore(o, i);
		};
	  }
	}();
	drift.SNIPPET_VERSION = '0.3.1';
	drift.load('eh3wyvpwg9b4');
	</script>
	<!-- End of Async Drift Code -->

	<body class="contact-page sidebar-collapse" >
	
		<div id="contactUsMap" class="big-map" ></div>
		<div class="" style="margin-top: 200px;">
		  <div class="contact-content">
			<div class="container">
			  <h2 class="title">Send us a message</h2>
			  <div class="row">
				<div class="col-md-6">
				  <p class="description">You can contact us with anything related to our Products. We&apos;ll get in touch with you as soon as possible.
					<br>
					<br>
				  </p>
				  <form role="form" id="contact-form" method="post">
					<div class="form-group">
					  <label for="name" class="bmd-label-floating">Your name</label>
					  <input type="text" class="form-control" id="name">
					</div>
					<div class="form-group">
					  <label for="exampleInputEmails" class="bmd-label-floating">Email address</label>
					  <input type="email" class="form-control" id="exampleInputEmails">
					  <span class="bmd-help">We'll never share your email with anyone else.</span>
					</div>
					<div class="form-group">
					  <label for="phone" class="bmd-label-floating">Phone</label>
					  <input type="text" class="form-control" id="phone">
					</div>
					<div class="form-group label-floating">
					  <label class="form-control-label bmd-label-floating" for="message"> Your message</label>
					  <textarea class="form-control" rows="6" id="message"></textarea>
					</div>
					<div class="submit text-center">
					  <input type="submit" class="btn btn-primary btn-raised btn-round" value="Contact Us">
					</div>
				  </form>
				</div>
				<div class="col-md-4 ml-auto">
				  <div class="info info-horizontal">
					<div class="icon icon-primary">
					  <i class="material-icons">pin_drop</i>
					</div>
					<div class="description">
					  <h4 class="info-title">Find us at the office</h4>
					  <p> Bld Mihail Kogalniceanu, nr. 8,
						<br> 7652 Bucharest,
						<br> Romania
					  </p>
					</div>
				  </div>
				  <div class="info info-horizontal">
					<div class="icon icon-primary">
					  <i class="material-icons">phone</i>
					</div>
					<div class="description">
					  <h4 class="info-title">Give us a ring</h4>
					  <p> Michael Jordan
						<br> +40 762 321 762
						<br> Mon - Fri, 8:00-22:00
					  </p>
					</div>
				  </div>
				  <div class="info info-horizontal">
					<div class="icon icon-primary">
					  <i class="material-icons">business_center</i>
					</div>
					<div class="description">
					  <h4 class="info-title">Legal Information</h4>
					  <p> Creative Tim Ltd.
						<br> VAT &#xB7; EN2341241
						<br> IBAN &#xB7; EN8732ENGB2300099123
						<br> Bank &#xB7; Great Britain Bank
					  </p>
					</div>
				  </div>
				</div>
			  </div>
			</div>
		  </div>
		</div>
		<footer class="footer">
			<div class="container">
			  <!-- <nav class="float-left">
				<ul>
				  <li>
					<a href="https://www.creative-tim.com/">
					  Creative Tim
					</a>
				  </li>
				  <li>
					<a href="https://creative-tim.com/presentation">
					  About Us
					</a>
				  </li>
				  <li>
					<a href="http://blog.creative-tim.com/">
					  Blog
					</a>
				  </li>
				  <li>
					<a href="https://www.creative-tim.com/license">
					  Licenses
					</a>
				  </li>
				</ul>
			  </nav> -->
			  <div class="copyright pull-center">
				  Copyright &#xA9;
				  <script>
					  document.write(new Date().getFullYear())
				  </script> Curio effect powered by    <a href="http://www.brainlabs.co.ke" target="_blank">Brain labs Kenya</a> 
				  </div>
			</div>
		  </footer>


  {% endblock %}
