{% extends 'shop/base.html' %}
{% load static %}



{% block content %}
<div class="col-md-4 modal_body_right modal_body_right1">

					</div>
				</div>
			</div>
			<!-- //Modal content-->
		</div>
	</div>
<!-- //Modal2 -->
<!-- /banner_bottom_agile_info -->
<div class="page-head_agile_info_w3l">
	<div class="container">
		<h3>Home<span> ACCESORIES </span></h3>
		<h3><span>COMING</span>SOON</h3>
		<!--/w3_short-->
			 <div class="services-breadcrumb">
					<div class="agile_inner_breadcrumb">

						 <ul class="w3_short">
							<li><a href="{% url 'shop:home' %}">Home</a><i>|</i></li>
							<li>HOME Accesories</li>
						</ul>
					 </div>
			</div>
	 <!--//w3_short-->
</div>
</div>
  {% endblock %}
