{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="description" content="Currio effect Uniquiely made">
    <meta name="keywords" content="online shop, kenya online shop, african funiture, unique faniture designs, african designs">
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <title>{% block title %}Currio effect - Uniquely Made {% endblock %}</title>  <!--Curio On-line -->
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

    <link rel="shortcut icon" type="image/png" href="{% static 'images/u.png' %}"/>

    {% for local_css_url in local_css_urls %}
    <link rel="stylesheet" href="{% static local_css_url %}">
{% endfor %}

{% for local_js_url in local_js_urls %}
    <script src="{% static local_js_url %}"></script>
{% endfor %}


   <!-- //for bootstrap working -->
   <link href="https://fonts.googleapis.com/css?family=Caveat|Gloria+Hallelujah|Handlee|Modak|Nanum+Pen+Script|Roboto|Source+Sans+Pro&display=swap" rel="stylesheet">
    <link href='//fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,900,900italic,700italic' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,900,900italic,700italic' rel='stylesheet' type='text/css'>
    <script>
        UPLOADCARE_PUBLIC_KEY = "4b92b91744f8fad64594";
      </script>
      <script charset="utf-8" src="https://ucarecdn.com/libs/widget/3.6.0/uploadcare.full.min.js"></script>
</head>

<body class="login-page sidebar-collapse">

{% block content %}


{% endblock %}
<!--   Core JS Files   -->




</body>
</html>





