{%extends "registration/base.html"%} {% load bootstrap4 %}
{% block content %}
<div class=" container ">
  <div class="row ">
      <!-- Empty div -->
      <div class="col-md-2 "></div>
      <div class="col-md-4 ">
        <br>
        <br>
        <br>
        <img src="../../static/images/loginpng.jpg " alt="" style="width:250px; height:500px ">
  </div>
<div class="container">
  <div class="row">
    <br>
    <!-- Empty div -->
    <div class="col-md-6"></div>
    <div class="col-md-4">
      {% if form.errors %}
        <p> Some Information Might be Incorrect </p>
      {% endif %}
      <div class="panel panel-default">

        <div class="panel-heading" style="background-color:#2fdab8">
          <h3 class="text-center">Sign Up</h3>
        </div>
        <div class="panel-body">

          <form  action="/accounts/register/" method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            <div class="form-group">
              <input type="submit" class="btn btn-primary btn-sm" style="background-color:#2fdab8" value="Sign Up">
            </div>

            <input type="hidden" name="next" value="{{next}}">

          </form>

        </div>

      </div>

    </div>
    <!-- empty div -->
  
  </div>
</div>

{% endblock %}
 <!-- <ul class="social-nav model-3d-0 footer-social w3_agile_social two">
              <li class="share" style="color:#2fdab8">OR LOG IN WITH : </li><br>
             <a href=""><i class="fa fa-google" aria-hidden="true"></i></a> 
             <a href=""><i class="fa fa-amazon" aria-hidden="true"></i></a> 
             <a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
             <a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a>
             <a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a> 
                                 
                                 
          </ul> -->

          <!-- <div class="signup-form">
    
		<h2>Curio Effect</h2>
		<p class="hint-text">Sign up with your social media account or email address</p>
		<div class="social-btn text-center">
			<a href="#" class="btn btn-primary btn-lg"><i class="fa fa-facebook"></i> Facebook</a>
			<a href="#" class="btn btn-info btn-lg"><i class="fa fa-twitter"></i> Twitter</a>
			<a href="#" class="btn btn-danger btn-lg"><i class="fa fa-google"></i> Google</a>
    </div>
   
    <div class="or-seperator"><b>or</b></div>
    <form  action="{% url 'django.contrib.auth.views.login' %}" method="post">
      {% csrf_token %}
        <div class="form-group">
        	<input type="text" class="form-control input-lg" name="username" placeholder="Username" required="required">
        </div>
		<div class="form-group">
        	<input type="email" class="form-control input-lg" name="email" placeholder="Email Address" required="required">
        </div>
		<div class="form-group">
            <input type="password" class="form-control input-lg" name="password" placeholder="Password" required="required">
        </div>
		<div class="form-group">
            <input type="password" class="form-control input-lg" name="confirm_password" placeholder="Confirm Password" required="required">
        </div>  
           {% if form.errors %}
                    <p class=" label label-danger">
                        Your username and password didn't match. 
                        Please try again.
                    </p>
                {% endif %}
        <div class="form-group">
            <button type="submit" class="btn btn-success btn-lg btn-block signup-btn" value="Sign Up">Sign Up</button>
        </div>
        <input type="hidden" name="next" value="{{next}}">
    </form>
    <div class="text-center">Already have an account? <a href="/accounts/login ">Login here</a></div>
</div> -->













<!-- 
{%extends "registration/base.html"%}
{% load bootstrap4 %}
{% block content %}

<section class="containerlogin">
<div class="container">
  <br>
  <div class="text-center">
    <h1 style="font-family: 'Cookie', cursive;"><strong>
      <img src="../../static/images/logincurio.png " alt="" style="width:750px; height:100px; box-shadow: 1px 5px 4px rgba(0, 0, 0, 0.3); ">
    </strong></h1>
  </div>
  <hr>
</div>
<div class=" container ">
<div class="row ">
    
    <div class="col-md-2 "></div>
    <div class="col-md-4 ">
      <img src="../../static/images/loginpng.jpg " alt="" style="width:250px; height:400px ">
</div>

    <div class="col-md-4"></div>
    <div class="col-md-4">
      {% if form.errors %}
        <p> Password or Username is incorrect </p>
      {% endif %}
      <div class="panel panel-default" style="box-shadow: 1px 5px 4px rgba(0, 0, 0, 0.3);" >

        <div class="panel-heading" style="background-color:#000">
          <h5 class="text-center" style="color:#fff">Login using your social Accounts</h5>
        </div>
        <div class="social-btn text-center" >

            <a href="/accounts/google/login" class="btn btn-danger btn-sm"><i class="fa fa-google"></i> Google</a>
            <h6></h6> 
            <p> <strong>or</strong> </p> -->
           <!-- <a href="/accounts/twitter/" class="btn btn-info btn-sm"><i class="fa fa-twitter"></i> Twitter</a>
           <a href="" class="btn btn-info btn-sm"><i class="fa fa-paypal"></i>Paypal</a>
            <a href="/accounts/facebook/login" class="btn btn-primary btn-sm"><i class="fa fa-facebook"></i> Facebook</a>
            <a href="#" class="btn btn-danger btn-sm"><i class="fa fa-amazon"></i>Amazon</a>
            <a href="#" class="btn btn-danger btn-sm"><i class="fa fa-instagram"></i>Instagram</a> -->
        <!-- <div class="panel-body"  >
       <form  action="/accounts/login/" method="post">
            {% csrf_token %}
            {% bootstrap_form form%}

            <div class="form-group">
              <input type="submit" class="btn btn-info btn-sm" style="background-color:#2fdab8"  value="Login">
            </div>
            <input type="hidden" name="next" value="{{next}}">
          <div class="clearfix"></div>
 
        <div class="panel-body">
          <a href="/accounts/register " class="forgot ">Don't have an account? SignUp here.</a>
        </div>
      </div>
    </div>
  </div>
</div>
</div>   
  
</section>

{% endblock %} -->

