<footer class="footer footer-white" style="margin-top:20px; padding-bottom: 20px; ">
    <div class="container">
            <h2 class="title">Top Categories</h2>
        <!-- <ul class="pull-center">
            <li >

<div class=" justify-content-center">
<a href="{% url 'shop:vendorrequest' %}" class="btn btn-primary2 btn-round">Office & Decor</a>
</div>
        
            </li>
            <li>
                    <div class=" justify-content-center">
                            <a href="{% url 'shop:vendorrequest' %}" class="btn btn-primary2 btn-round">Wedding & Party Decor</a>
                    </div>
            </li>
            <li>
                    <div class=" justify-content-center">
                            <a href="{% url 'shop:vendorrequest' %}" class="btn btn-primary2 btn-round">Home & living</a>
                    </div>
            </li>
            <li>
                    <div class=" justify-content-center">
                            <a href="{% url 'shop:vendorrequest' %}" class="btn btn-primary2 btn-round">Gifts</a>
                    </div>
            </li>

        
                <li>
                        <div class=" justify-content-center">
                                <a href="{% url 'shop:vendorrequest' %}" class="btn btn-primary2 btn-round">Vintage</a>
                        </div>
                </li>
        </ul> -->


<!-- funiture mod -->
<div class="modal fade" id="funitureModal" tabindex="-1" role="dialog">
<div class="modal-dialog modal-notice" role="document">
<div class="modal-content">
<div class="modal-header">
<h5 class="modal-title card-title ">Home of the best Funiture.</h5>
<button type="button" class="close" data-dismiss="modal" aria-label="Close">
<i class="material-icons">clear</i>
</button>
</div>
<div class="modal-body">
<div class="instruction">
<div class="row">
<div class="col-md-6">
    <div class="">
      <img src="../../../static/images/tvstand.jpg" alt="Thumbnail Image" class="rounded img-fluid">
    </div>	


</div> 
<div class="col-md-4 col-lg-6">
<strong>Bedroom Funiture</strong>
<ul class="links-vertical2 text-muted text ">
<li>
  <a href="#pablo">
Pallets beds
  </a>
</li>
<li>
  <a href="#pablo">
Platform beds 
  </a>
</li>
<li>
<a href="#pablo">
 Day beds
</a>
</li>
<li>
  <a href="#pablo">
Nightstands
  </a>
</li>
</ul>
</div>

</div>
</div>
<div class="instruction">
<div class="row">
<div class="col-md-4">
    <strong>Bedroom Funiture</strong>
    <ul class="links-vertical2 text-muted text ">
            <li>
              <a href="#pablo">
            Pallets beds
              </a>
            </li>
            <li>
              <a href="#pablo">
            Platform beds 
              </a>
            </li>
            <li>
            <a href="#pablo">
             Day beds
            </a>
          </li>
            <li>
              <a href="#pablo">
            Nightstands
              </a>
            </li>
          </ul>
  </div>
  <div class="col-md-4">
        <strong>Bedroom Funiture</strong>
        <ul class="links-vertical2 text-muted text ">
                <li>
                  <a href="#pablo">
                Pallets beds
                  </a>
                </li>
                <li>
                  <a href="#pablo">
                Platform beds 
                  </a>
                </li>
                <li>
                <a href="#pablo">
                 Day beds
                </a>
              </li>
                <li>
                  <a href="#pablo">
                Nightstands
                  </a>
                </li>
              </ul>
      </div>
      <div class="col-md-4">
            <strong>Bedroom Funiture</strong>
            <ul class="links-vertical2 text-muted text ">
                    <li>
                      <a href="#pablo">
                    Pallets beds
                      </a>
                    </li>
                    <li>
                      <a href="#pablo">
                    Platform beds 
                      </a>
                    </li>
                    <li>
                    <a href="#pablo">
                     Day beds
                    </a>
                  </li>
                    <li>
                      <a href="#pablo">
                    Nightstands
                      </a>
                    </li>
                  </ul>
          </div>
</div>
</div>
<!-- <div class="instruction">
<div class="row">
<div class="col-md-8">
<strong>3. Got stuck?</strong>
<p>Check out some frequently asked questions here <a href="{% url 'shop:Vendorfaqs' %}" >Vendor FAQs</a>
</p>
</div>
<div class="col-md-4">
<div class="picture">
<img src="assets/img/dg2.jpg" alt="Thumbnail Image" class="rounded img-fluid">
</div>
</div>
</div>
</div> -->
<p>Want something custom made? we would love to do that! Just contact us or send us a tweet @curioeffect. We&apos;re here for because of you</p>
</div>

<div class="modal-footer justify-content-center">
<a href="{% url 'shop:vendorrequest' %}" class="btn btn-primary btn-round">Shop in all funiture</a>
</div>

</div>
</div>
</div>
<!-- funiture mod -->
<!-- ------------------------------ -->



        <div class="row">
                <div class="col-md-12 ml-auto mr-auto text-center">
            
                    <ul class="nav nav-pills nav-pills-primary">
                        <li class="nav-item">
                            <div class="dropdown">
                                <a  class="nav-link dropdown-toggle " id="multiDropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href=""></a>
                            
                            
                              <div class="dropdown-menu" aria-labelledby="multiDropdownMenu">
                              <a class="dropdown-item" href="#pablo">Action</a>
                              <a class="dropdown-item" href="#pablo">Another action</a>
                              <a class="dropdown-item dropdown-toggle" href="#pablo">Submenu</a>
                              <div class="dropdown-menu">
                                <a class="dropdown-item" href="#pablo">Submenu action</a>
                                <a class="dropdown-item" href="#pablo">Submenu action</a>
                                <a class="dropdown-item dropdown-toggle" href="#pablo">Subsubmenu</a>
                                <div class="dropdown-menu">
                                <a class="dropdown-item" href="#pablo">Subsubmenu action 1</a>
                                <a class="dropdown-item" href="#pablo">Subsubmenu action 2</a>
                                </div>
                                <a class="dropdown-item dropdown-toggle" href="#pablo">Second subsubmenu</a>
                                <div class="dropdown-menu">
                                <a class="dropdown-item" href="#pablo">Subsubmenu action 1</a>
                                <a class="dropdown-item" href="#pablo">Subsubmenu action 2</a>
                                </div>
                              </div>
                              </div>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#pill2" data-toggle="tab">Office & Decor</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#pill3" data-toggle="tab">Home & Living</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#pill3" data-toggle="tab">Vintage</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#pill3" data-toggle="tab">Wall Decor</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#pill3" data-toggle="tab">In-house Designs</a>
                        </li>
                        <li class="nav-item">
                                <a class="nav-link" href="#pill3" data-toggle="tab">Clothing & Shoes</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#pill3" data-toggle="tab">Gift Shop</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#pill3" data-toggle="tab">Accesories</a>
                            </li>
                    </ul>
                    <!-- <div class="tab-content tab-space">
                        <div class="tab-pane active" id="pill1">
                        </div>
                        <div class="tab-pane" id="pill2">
                        </div>
                        <div class="tab-pane" id="pill3">
                        </div>
                    </div> -->
                </div>
            </div>
    </div>
</footer>