

{% load static %}

<footer class="footer footer-white" style="margin-top:20px; padding-bottom: 20px; ">
		<div class="container">
				<h2 class="title">Top Categories</h2>


<nav class="navbar navbar-expand-lg navbar-light bg-light " id="sectionsNav2">
		<div class="container">

		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<i class="fas fa-bars"></i> Categories
		<!-- <span class="sr-only" style="color :black"></span> -->
		<span class="navbar-toggler-icon"></span>
		<span class="navbar-toggler-icon"></span>
		<span class="navbar-toggler-icon"></span>
		</button>
	




		<div class="collapse navbar-collapse" id="navbarSupportedContent">
		
		<ul class="navbar-nav mr-auto pt-8 pt-lg-0">
				{%if categories %}
				{% for c in categories %}
		<li class="nav-item dropdown">
		<a class="nav-link dropdown-toggle" href="#" id="themesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				{{ c}}
		</a>
		<div class="dropdown-menu dropdown-themes border-0 shadow animate slideIn" aria-labelledby="themesDropdown">
		<div class="d-lg-flex flex-row">
		<div class="dropdown-themes-callout d-none d-lg-flex p-5 text-center text-black align-items-center">
		<div>
				<img style="width:60%" src="{% if c.image %} {{ c.image.cdn_url }} {% else %} {% static 'img/default.png' %} {% endif %}" >
				<!-- <a href="{{ c.get_absolute_url }}" ><img  style="width:50%" src="{% if category.image %} {{ category.image.cdn_url }} {% else %} {% static 'img/default.png' %} {% endif %}"  alt=" "/></a> -->

		<!-- <h5>Bootstrap Themes</h5> -->
		<p>{{c.title}}</p>
		<a href="{{ c.get_absolute_url }}"  class="btn btn-theme btn-xl">Browse All {{c}} <i class="fas fa-angle-right"></i></a>
		</div>
		</div>
		<div class="py-lg-3">
	   <h6 class="dropdown-header">Sub Categories:</h6>	
		<a class="dropdown-item font-weight-bold" href="/themes/"><i class="far fa-paint-brush-alt fa-fw"></i> Browse All Themes</a>
		<div class="dropdown-divider"></div>

	
	
		{% for sub in categories.subcategories.all %}
		{% if categories.subcategories.all %}
	
		<a class="dropdown-item" href="/themes/blog/">{{ sub.name }}</a>

		{% else %}
		<p>No category Found</p>
		{% endif %}
		{% endfor %}
	
		</div>
		</div>
		</div>
		</li>













		<!-- <li class="nav-item dropdown">
		<a class="nav-link dropdown-toggle" href="#" id="templatesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		Templates
		</a>
		<div class="dropdown-menu dropdown-templates border-0 shadow animate slideIn" aria-labelledby="templatesDropdown">
		<div class="d-lg-flex flex-row">
		<div class="dropdown-themes-callout d-none d-lg-flex p-5 text-center text-white align-items-center">
		<div>
		<h5>Bootstrap Templates</h5>
		<p>Unstyled layouts to help you get started on a project</p>
		<a href="/templates/" class="btn btn-template btn-xl">Browse All Templates <i class="fas fa-angle-right"></i></a>
		</div>
		</div>
		<div class="py-lg-3">
		<a class="dropdown-item font-weight-bold" href="/templates/"><i class="far fa-pencil-ruler fa-fw"></i> Browse All Templates</a>
		 <div class="dropdown-divider"></div>
		<h6 class="dropdown-header">Template Categories:</h6>
		<a class="dropdown-item" href="/templates/admin-dashboard/">Admin &amp; Dashboard</a>
		<a class="dropdown-item" href="/templates/landing-pages/">Landing Pages &amp; Headers</a>
		<a class="dropdown-item" href="/templates/general/">General Page Layouts</a>
		<a class="dropdown-item" href="/templates/navigation/">Navigation Layouts</a>
		<a class="dropdown-item" href="/templates/ecommerce/">Ecommerce</a>
		<a class="dropdown-item" href="/templates/blog/">Blog</a>
		</div>
		</div>
		</div>
		</li>
		<li class="nav-item">
		<a class="nav-link" href="/snippets/">Snippets</a>
		</li>
		<li class="nav-item dropdown">
		<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		Learn
		</a>
		<div class="dropdown-menu border-0 shadow animate slideIn" aria-labelledby="navbarDropdown">
		<a class="dropdown-item" href="/guides/">Guides &amp; Tutorials</a>
		<span class="d-block" tabindex="0" data-toggle="tooltip" data-placement="left" title="Under Development!" data-container=".sb-navbar">
		<a class="dropdown-item disabled" href="#">Courses <span class="ml-2 badge badge-pill badge-secondary d-lg-none">Under Development!</span></a>
		</span>
		<div class="dropdown-divider"></div>
		<span class="d-block" tabindex="0" data-toggle="tooltip" data-placement="left" title="Under Development!" data-container=".sb-navbar">
		<a class="dropdown-item disabled" href="#">Books <span class="ml-2 badge badge-pill badge-secondary d-lg-none">Under Development!</span></a>
		</span>
		</div>
		</li>
		<li class="nav-item">
		<a class="nav-link" href="/bootstrap-resources">Resources</a>
		</li> -->
		{% endfor %}
		{% else %}
		<p>No Category Found</p>
		{% endif %}
		</ul>

		</div>









		</div>
        </nav>
    </div>
</footer>