{% extends 'shop/homepage/base.html' %}

{% load static %}



{% block content %}



<div class="projects-4" id="projects-4">
        <div class="container">
          <div class="row">
            <div class="col-md-8 ml-auto mr-auto text-center">
              <h2 class="title">Some of Our Awesome Projects - 4</h2>
              <h5 class="description">This is the paragraph where you can write more details about your projects. Keep you user engaged by providing meaningful information.</h5>
              <div class="section-space"></div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-5 ml-auto">
              <div class="card card-background" style="background-image:url('assets/img/examples/card-project2.jpg')">
                <a href="#pablo"></a>
                <div class="card-body">
                  <span class="badge badge-rose">Client: Apple</span>
                  <a href="#pablo">
                    <h3 class="card-title">Beautiful Project</h3>
                  </a>
                  <p class="card-description">
                    Don't be scared of the truth because we need to restart the human foundation in truth.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-5 mr-auto">
              <div class="info info-horizontal">
                <div class="icon icon-info">
                  <i class="material-icons">format_paint</i>
                </div>
                <div class="description">
                  <h4 class="info-title">Graphic Design</h4>
                  <p class="description">
                    We&apos;ve created the design of the website using modern Technologies like Sketch. It was a very interesting collaboration.
                  </p>
                </div>
              </div>
              <div class="info info-horizontal">
                <div class="icon icon-primary">
                  <i class="material-icons">code</i>
                </div>
                <div class="description">
                  <h4 class="info-title">Fully Coded in HTML5</h4>
                  <p class="description">
                    We&apos;ve developed the website with HTML5 and CSS3. The client has access to the code using GitHub.
                  </p>
                </div>
              </div>
              <div class="info info-horizontal">
                <div class="icon icon-danger">
                  <i class="material-icons">dashboard</i>
                </div>
                <div class="description">
                  <h4 class="info-title">CMS Admin Dashboard</h4>
                  <p class="description">
                    There is also a Fully Customizable CMS Admin Dashboard for this product.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-md-5 ml-auto">
              <div class="info info-horizontal">
                <div class="icon icon-rose">
                  <i class="material-icons">timeline</i>
                </div>
                <div class="description">
                  <h4 class="info-title">Marketing</h4>
                  <p class="description">
                    We&apos;ve created the marketing campaign of the website. It was a very interesting collaboration.
                  </p>
                </div>
              </div>
              <div class="info info-horizontal">
                <div class="icon icon-success">
                  <i class="material-icons">code</i>
                </div>
                <div class="description">
                  <h4 class="info-title">Fully Coded in HTML5</h4>
                  <p class="description">
                    We&apos;ve developed the website with HTML5 and CSS3. The client has access to the code using GitHub.
                  </p>
                </div>
              </div>
              <div class="info info-horizontal">
                <div class="icon icon-info">
                  <i class="material-icons">group</i>
                </div>
                <div class="description">
                  <h4 class="info-title">Built Audience</h4>
                  <p class="description">
                    There is also a Fully Customizable CMS Admin Dashboard for this product.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-5 mr-auto">
              <div class="card card-background" style="background-image:url('assets/img/examples/card-project5.jpg')">
                <a href="#pablo"></a>
                <div class="card-body">
                  <span class="badge badge-rose">Client: DJ Khaled</span>
                  <a href="#pablo">
                    <h2 class="card-title">Another One</h2>
                  </a>
                  <p class="card-description">
                    Don't be scared of the truth because we need to restart the human foundation in truth.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--     *********    END PROJECTS 4      *********      -->
    </div>
             {% endblock %}